html *
{
   font-size: 1em !important;
   font-family: Arial !important;
}


.block{
	float: left;
	clear: both;
}

/*BUTTON*/
.ui-button{
    font-size: 13px !important;
}
.ui-button-text-only .ui-button-text {
    padding: .1em .6em .2em !important;
    
}

